.camera-icon {
    font-size: 7.2rem;
    color: #5f6caf;
    border-radius: 50%;
}

.image-upload {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.image-upload > input {
    display: none;
}
