.image-upload > input {
    display: none;
}

.not-found {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.msg > img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
.msg {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.try-again {
    font-size: 7.2rem;
    margin: 0 auto;
    display: box;
}
